# Module 5

## numpy

In [1]:
import numpy as np

In [2]:
# 1D array
arr = np.array([11, 12, 13, 14])
arr

array([11, 12, 13, 14])

In [3]:
# 2D array
data = [[11, 22], [33, 44]]
arr = np.array(data)
arr

array([[11, 22],
       [33, 44]])

In [4]:
# shape of an array (rows, cols)
arr.shape

(2, 2)

In [5]:
# using arange(start, stop)
np.arange(2, 10)

array([2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
# np.zeros(shape)
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [7]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [8]:
np.zeros((4,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [9]:
# linearly spaced array
# np.linspace(start, stop, no_of_values_between_start_and_stop)
np.linspace(0, 20, 5)

array([ 0.,  5., 10., 15., 20.])

In [10]:
np.linspace(0, 20, 6)

array([ 0.,  4.,  8., 12., 16., 20.])

In [11]:
np.linspace(0, 20, 7)

array([ 0.        ,  3.33333333,  6.66666667, 10.        , 13.33333333,
       16.66666667, 20.        ])

In [15]:
## Restructuring of an array i.e shape manipulation
# NOTE: valid shape will have same number of elements

arr = np.zeros(16)
print(arr)

arr_2d = arr.reshape((4,4))
arr_2d

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [16]:
arr = np.zeros(8)
print(arr)
arr_3d = arr.reshape((2,2,2))
arr_3d

[0. 0. 0. 0. 0. 0. 0. 0.]

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]])

In [20]:
## Flattening the array
arr_2d = np.array([[22,33], [44,55]])
print(arr_2d)
print("Flatenning the array")
arr_1d = arr_2d.ravel()
print(arr_1d)

[[22 33]
 [44 55]]
Flatenning the array
[22 33 44 55]

In [22]:
# converting 1D array to a list object
list((arr_1d))

[22, 33, 44, 55]

In [25]:
## Indexing
# arr[index]

arr = np.arange(3,20)
arr

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [24]:
arr[0]  # first value

3

In [27]:
arr[-1]  # last value

19

In [28]:
arr[2]  # third value

5

In [35]:
## 1D array accessing multiple values together
# array[list_of_indexes]
arr = np.array([11, 22, 33, 44, 55, 66, 77, 88])
arr[[0,2,3,5]]

array([11, 33, 44, 66])

In [29]:
# accessing value using Index in 2D array
arr = np.array([[11,22,33,44],[55,66,77,88], [99,12,13,14], [15,16,17,18]])
arr

array([[11, 22, 33, 44],
       [55, 66, 77, 88],
       [99, 12, 13, 14],
       [15, 16, 17, 18]])

In [32]:
# syantx: arr[row_index, col_index]
arr[0,2]

33

In [38]:
## slicing for 1D array is same as list , tuples and strings

arr = np.array([11, 22, 33, 44, 55, 66, 77, 88])
arr[1:3]

array([22, 33])

In [39]:
## slicing for 2D array
# syntax: arr[row_slice, column_slice]
arr_2d = np.array([[11,22,33,44],[55,66,77,88], [99,12,13,14], [15,16,17,18]])
arr_2d

array([[11, 22, 33, 44],
       [55, 66, 77, 88],
       [99, 12, 13, 14],
       [15, 16, 17, 18]])

In [40]:
arr_2d[0:2, 0:2]

array([[11, 22],
       [55, 66]])

In [41]:
arr_2d[0:3, 0:2]

array([[11, 22],
       [55, 66],
       [99, 12]])

## Numpy array attributes

In [44]:
arr_2d

array([[11, 22, 33, 44],
       [55, 66, 77, 88],
       [99, 12, 13, 14],
       [15, 16, 17, 18]])

In [46]:
# shape returns no of rows and no of columns
arr_2d.shape

(4, 4)

In [48]:
# dimension of an array ex: 1D or 2D or 3D
arr_2d.ndim  # 2 means the array is 2D array

2

In [49]:
# length of each element of an array
arr_2d.itemsize  # 8 bytes

8

In [56]:
# select the itemsize using np.int8, np.int16, np.int32, np.int64
arr = np.array([[11,22],[33,44]], dtype=np.int16)
arr

array([[11, 22],
       [33, 44]], dtype=int16)

In [57]:
arr.itemsize

2

In [58]:
2**16

65536

In [61]:
arr = np.array([[11,22],[33,44]])
print(arr.dtype)
print(arr.itemsize)  # default integer is 8bytes

int64
8

In [62]:
# creating an uninitialized array or junk element array
# np.empty(shape)
np.empty((3,2))

array([[ 3.33333333,  6.66666667],
       [10.        , 13.33333333],
       [16.66666667, 20.        ]])

In [65]:
np.empty((3,5))

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 1.49457241e-154, 1.72723371e-077,
        1.72723371e-077, 2.35383005e-314]])

## reading and writing from a text file

In [66]:
arr_2d = np.loadtxt('filex.txt')
arr_2d

array([[ 1.,  2.,  3.,  4.,  5.,  6.,  7.],
       [ 8.,  3.,  4.,  5.,  5.,  1.,  8.],
       [ 6.,  3.,  4.,  5.,  5.,  1.,  8.],
       [ 6.,  3.,  4.,  5.,  5.,  1.,  8.],
       [ 4.,  3.,  4.,  5.,  5.,  1., 10.]])

In [67]:
arr_2d.dtype # by default it is a float value

dtype('float64')

In [69]:
arr_2d = np.loadtxt('filex.txt', dtype=int)
arr_2d

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  3,  4,  5,  5,  1,  8],
       [ 6,  3,  4,  5,  5,  1,  8],
       [ 6,  3,  4,  5,  5,  1,  8],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10],
       [ 4,  3,  4,  5,  5,  1, 10]])

In [70]:
arr_2d[0:5] # first five rows

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  3,  4,  5,  5,  1,  8],
       [ 6,  3,  4,  5,  5,  1,  8],
       [ 6,  3,  4,  5,  5,  1,  8],
       [ 4,  3,  4,  5,  5,  1, 10]])

In [73]:
arr_2d[0:5,0:5] # first five rows and first 5 columns

array([[1, 2, 3, 4, 5],
       [8, 3, 4, 5, 5],
       [6, 3, 4, 5, 5],
       [6, 3, 4, 5, 5],
       [4, 3, 4, 5, 5]])

### export an array to a file

In [80]:
arr = arr_2d[0:5,0:5]
arr.dtype
np.savetxt('abidali.txt', arr,fmt='%d', header='hello')

In [77]:
help(np.savetxt)

Help on function savetxt in module numpy:

savetxt(fname, X, fmt='%.18e', delimiter=' ', newline='\n', header='', footer='', comments='# ', encoding=None)
    Save an array to a text file.

    Parameters
    ----------
    fname : filename or file handle
        If the filename ends in ``.gz``, the file is automatically saved in
        compressed gzip format.  `loadtxt` understands gzipped files
        transparently.
    X : 1D or 2D array_like
        Data to be saved to a text file.
    fmt : str or sequence of strs, optional
        A single format (%10.5f), a sequence of formats, or a
        multi-format string, e.g. 'Iteration %d -- %10.5f', in which
        case `delimiter` is ignored. For complex `X`, the legal options
        for `fmt` are:

        * a single specifier, `fmt='%.4e'`, resulting in numbers formatted
          like `' (%s+%sj)' % (fmt, fmt)`
        * a full string specifying every real and imaginary part, e.g.
          `' %.4e %+.4ej %.4e %+.4ej %.4e %+.4ej'` for 3 columns
        * a list of specifiers, one per column - in this case, the real
          and imaginary part must have separate specifiers,
          e.g. `['%.3e + %.3ej', '(%.15e%+.15ej)']` for 2 columns
    delimiter : str, optional
        String or character separating columns.
    newline : str, optional
        String or character separating lines.

        .. versionadded:: 1.5.0
    header : str, optional
        String that will be written at the beginning of the file.

        .. versionadded:: 1.7.0
    footer : str, optional
        String that will be written at the end of the file.

        .. versionadded:: 1.7.0
    comments : str, optional
        String that will be prepended to the ``header`` and ``footer`` strings,
        to mark them as comments. Default: '# ',  as expected by e.g.
        ``numpy.loadtxt``.

        .. versionadded:: 1.7.0
    encoding : {None, str}, optional
        Encoding used to encode the outputfile. Does not apply to output
        streams. If the encoding is something other than 'bytes' or 'latin1'
        you will not be able to load the file in NumPy versions < 1.14. Default
        is 'latin1'.

        .. versionadded:: 1.14.0


    See Also
    --------
    save : Save an array to a binary file in NumPy ``.npy`` format
    savez : Save several arrays into an uncompressed ``.npz`` archive
    savez_compressed : Save several arrays into a compressed ``.npz`` archive

    Notes
    -----
    Further explanation of the `fmt` parameter
    (``%[flag]width[.precision]specifier``):

    flags:
        ``-`` : left justify

        ``+`` : Forces to precede result with + or -.

        ``0`` : Left pad the number with zeros instead of space (see width).

    width:
        Minimum number of characters to be printed. The value is not truncated
        if it has more characters.

    precision:
        - For integer specifiers (eg. ``d,i,o,x``), the minimum number of
          digits.
        - For ``e, E`` and ``f`` specifiers, the number of digits to print
          after the decimal point.
        - For ``g`` and ``G``, the maximum number of significant digits.
        - For ``s``, the maximum number of characters.

    specifiers:
        ``c`` : character

        ``d`` or ``i`` : signed decimal integer

        ``e`` or ``E`` : scientific notation with ``e`` or ``E``.

        ``f`` : decimal floating point

        ``g,G`` : use the shorter of ``e,E`` or ``f``

        ``o`` : signed octal

        ``s`` : string of characters

        ``u`` : unsigned decimal integer

        ``x,X`` : unsigned hexadecimal integer

    This explanation of ``fmt`` is not complete, for an exhaustive
    specification see [1]_.

    References
    ----------
    .. [1] `Format Specification Mini-Language
           <https://docs.python.org/library/string.html#format-specification-mini-language>`_,
           Python Documentation.

    Examples
    --------
    >>> x = y = z = np.arange(0.0,5.0,1.0)
    >>> np.savetxt('test.out', x, delimiter=',')   # X is an array
    >>> np.savetxt('test.out', (x,y,z))   # x,y,z equal sized 1D arrays
    >>> np.savetxt('test.out', x, fmt='%1.4e')   # use exponential notation

In [81]:
arr

array([[1, 2, 3, 4, 5],
       [8, 3, 4, 5, 5],
       [6, 3, 4, 5, 5],
       [6, 3, 4, 5, 5],
       [4, 3, 4, 5, 5]])

In [82]:
# maximum value of an array
arr.max()

8

In [83]:
# minimum value of an array
arr.min()

1

In [84]:
arr.std()  # standard deviation

1.4005713120009278

In [86]:
arr.mean()  # average

4.28

In [91]:
arr[0].max()  # maximum value for first row

5

In [93]:
# using "delimiter"
arr = arr_2d[0:5,0:5]
arr.dtype
np.savetxt('abidali_dollar.txt', arr,fmt='%d', delimiter='$')

### reading csv file or any file to an array
- make sure to provide a delimiter

In [95]:
arr = np.genfromtxt('sujata.csv', delimiter=',')
arr

array([[10., 20., 30., 40.],
       [10., 20., 30., 40.],
       [10., 20., 30., 40.],
       [10., 20., 30., 40.]])

In [96]:
help(np.genfromtxt)

Help on function genfromtxt in module numpy:

genfromtxt(fname, dtype=<class 'float'>, comments='#', delimiter=None, skip_header=0, skip_footer=0, converters=None, missing_values=None, filling_values=None, usecols=None, names=None, excludelist=None, deletechars=None, replace_space='_', autostrip=False, case_sensitive=True, defaultfmt='f%i', unpack=None, usemask=False, loose=True, invalid_raise=True, max_rows=None, encoding='bytes')
    Load data from a text file, with missing values handled as specified.

    Each line past the first `skip_header` lines is split at the `delimiter`
    character, and characters following the `comments` character are discarded.

    Parameters
    ----------
    fname : file, str, pathlib.Path, list of str, generator
        File, filename, list, or generator to read.  If the filename
        extension is `.gz` or `.bz2`, the file is first decompressed. Note
        that generators must return byte strings in Python 3k.  The strings
        in a list or produced by a generator are treated as lines.
    dtype : dtype, optional
        Data type of the resulting array.
        If None, the dtypes will be determined by the contents of each
        column, individually.
    comments : str, optional
        The character used to indicate the start of a comment.
        All the characters occurring on a line after a comment are discarded
    delimiter : str, int, or sequence, optional
        The string used to separate values.  By default, any consecutive
        whitespaces act as delimiter.  An integer or sequence of integers
        can also be provided as width(s) of each field.
    skiprows : int, optional
        `skiprows` was removed in numpy 1.10. Please use `skip_header` instead.
    skip_header : int, optional
        The number of lines to skip at the beginning of the file.
    skip_footer : int, optional
        The number of lines to skip at the end of the file.
    converters : variable, optional
        The set of functions that convert the data of a column to a value.
        The converters can also be used to provide a default value
        for missing data: ``converters = {3: lambda s: float(s or 0)}``.
    missing : variable, optional
        `missing` was removed in numpy 1.10. Please use `missing_values`
        instead.
    missing_values : variable, optional
        The set of strings corresponding to missing data.
    filling_values : variable, optional
        The set of values to be used as default when the data are missing.
    usecols : sequence, optional
        Which columns to read, with 0 being the first.  For example,
        ``usecols = (1, 4, 5)`` will extract the 2nd, 5th and 6th columns.
    names : {None, True, str, sequence}, optional
        If `names` is True, the field names are read from the first line after
        the first `skip_header` lines.  This line can optionally be proceeded
        by a comment delimiter. If `names` is a sequence or a single-string of
        comma-separated names, the names will be used to define the field names
        in a structured dtype. If `names` is None, the names of the dtype
        fields will be used, if any.
    excludelist : sequence, optional
        A list of names to exclude. This list is appended to the default list
        ['return','file','print']. Excluded names are appended an underscore:
        for example, `file` would become `file_`.
    deletechars : str, optional
        A string combining invalid characters that must be deleted from the
        names.
    defaultfmt : str, optional
        A format used to define default field names, such as "f%i" or "f_%02i".
    autostrip : bool, optional
        Whether to automatically strip white spaces from the variables.
    replace_space : char, optional
        Character(s) used in replacement of white spaces in the variables
        names. By default, use a '_'.
    case_sensitive : {True, False, 'upper', 'lower'}, optional
        If True, field names are case sensitive.
        If False or 'upper', field names are converted to upper case.
        If 'lower', field names are converted to lower case.
    unpack : bool, optional
        If True, the returned array is transposed, so that arguments may be
        unpacked using ``x, y, z = loadtxt(...)``
    usemask : bool, optional
        If True, return a masked array.
        If False, return a regular array.
    loose : bool, optional
        If True, do not raise errors for invalid values.
    invalid_raise : bool, optional
        If True, an exception is raised if an inconsistency is detected in the
        number of columns.
        If False, a warning is emitted and the offending lines are skipped.
    max_rows : int,  optional
        The maximum number of rows to read. Must not be used with skip_footer
        at the same time.  If given, the value must be at least 1. Default is
        to read the entire file.

        .. versionadded:: 1.10.0
    encoding : str, optional
        Encoding used to decode the inputfile. Does not apply when `fname` is
        a file object.  The special value 'bytes' enables backward compatibility
        workarounds that ensure that you receive byte arrays when possible
        and passes latin1 encoded strings to converters. Override this value to
        receive unicode arrays and pass strings as input to converters.  If set
        to None the system default is used. The default value is 'bytes'.

        .. versionadded:: 1.14.0

    Returns
    -------
    out : ndarray
        Data read from the text file. If `usemask` is True, this is a
        masked array.

    See Also
    --------
    numpy.loadtxt : equivalent function when no data is missing.

    Notes
    -----
    * When spaces are used as delimiters, or when no delimiter has been given
      as input, there should not be any missing data between two fields.
    * When the variables are named (either by a flexible dtype or with `names`,
      there must not be any header in the file (else a ValueError
      exception is raised).
    * Individual values are not stripped of spaces by default.
      When using a custom converter, make sure the function does remove spaces.

    References
    ----------
    .. [1] NumPy User Guide, section `I/O with NumPy
           <https://docs.scipy.org/doc/numpy/user/basics.io.genfromtxt.html>`_.

    Examples
    ---------
    >>> from io import StringIO
    >>> import numpy as np

    Comma delimited file with mixed dtype

    >>> s = StringIO(u"1,1.3,abcde")
    >>> data = np.genfromtxt(s, dtype=[('myint','i8'),('myfloat','f8'),
    ... ('mystring','S5')], delimiter=",")
    >>> data
    array((1, 1.3, 'abcde'),
          dtype=[('myint', '<i8'), ('myfloat', '<f8'), ('mystring', '|S5')])

    Using dtype = None

    >>> s.seek(0) # needed for StringIO example only
    >>> data = np.genfromtxt(s, dtype=None,
    ... names = ['myint','myfloat','mystring'], delimiter=",")
    >>> data
    array((1, 1.3, 'abcde'),
          dtype=[('myint', '<i8'), ('myfloat', '<f8'), ('mystring', '|S5')])

    Specifying dtype and names

    >>> s.seek(0)
    >>> data = np.genfromtxt(s, dtype="i8,f8,S5",
    ... names=['myint','myfloat','mystring'], delimiter=",")
    >>> data
    array((1, 1.3, 'abcde'),
          dtype=[('myint', '<i8'), ('myfloat', '<f8'), ('mystring', '|S5')])

    An example with fixed-width columns

    >>> s = StringIO(u"11.3abcde")
    >>> data = np.genfromtxt(s, dtype=None, names=['intvar','fltvar','strvar'],
    ...     delimiter=[1,3,5])
    >>> data
    array((1, 1.3, 'abcde'),
          dtype=[('intvar', '<i8'), ('fltvar', '<f8'), ('strvar', '|S5')])

# pandas library

### Series

In [98]:
# create
import pandas as pd
ser = pd.Series()
ser

Series([], dtype: float64)

In [99]:
# using a sequence(list, tuple, string, array)
ser = pd.Series([11, 22, 33, 44])
ser

0    11
1    22
2    33
3    44
dtype: int64

In [100]:
# using an array
arr = np.array([100, 200, 300, 400])
ser = pd.Series(arr)
ser

0    100
1    200
2    300
3    400
dtype: int64

In [101]:
# choosing dtype
arr = np.array([100, 200, 300, 400])
ser = pd.Series(arr, dtype=float)
ser

0    100.0
1    200.0
2    300.0
3    400.0
dtype: float64

In [102]:
# using dictionary
my_dict = {'a':100, 'b':200, 'c':300, 'd':400}
ser = pd.Series(my_dict)
ser

a    100
b    200
c    300
d    400
dtype: int64

In [103]:
# indexing: Syntax: series[index]
arr = np.array([100, 200, 300, 400])
ser = pd.Series(arr, dtype=float)
ser

0    100.0
1    200.0
2    300.0
3    400.0
dtype: float64

In [104]:
# ser[index]
ser[0]

100.0

In [106]:
ser[3]

400.0

In [108]:
#example 2: for indexing
my_dict = {'a':100, 'b':200, 'c':300, 'd':400}
ser = pd.Series(my_dict)
ser

a    100
b    200
c    300
d    400
dtype: int64

In [109]:
ser['a']

100

In [110]:
ser['b']

200

## DataFrame

In [112]:
# list of dicts
data = [{'a':1, 'b':2}, {'a':10, 'b':20, 'c':30}]
df = pd.DataFrame(data)
df

    a   b     c
0   1   2   NaN
1  10  20  30.0

In [113]:
# NaN : not a number is stored in the place of missing values

In [114]:
# providing names for rows/indexs 
df = pd.DataFrame(data, index=['first', 'second'])
df

         a   b     c
first    1   2   NaN
second  10  20  30.0

In [115]:
# 3. using a dict with series
d = {'a':pd.Series([11, 22, 33], index=['i', 'j', 'k']),
    'b':pd.Series([44, 55, 66, 77], index=['i', 'j', 'k','l'])}
df = pd.DataFrame(d)
df

      a   b
i  11.0  44
j  22.0  55
k  33.0  66
l   NaN  77

In [120]:
# access a column from a dataframe
# NOTE: each column is a Series

In [117]:
data = [{'a':1, 'b':2}, {'a':10, 'b':20, 'c':30}]
df = pd.DataFrame(data)
df

    a   b     c
0   1   2   NaN
1  10  20  30.0

In [119]:
# access
df['b']

0     2
1    20
Name: b, dtype: int64

In [121]:
type(df['b'])

pandas.core.series.Series

In [122]:
# dataframe is a combination of multiple series

In [123]:
# adding a column to a dataframe
df

    a   b     c
0   1   2   NaN
1  10  20  30.0

In [124]:
df['new_col'] = [100, 200]
df

    a   b     c  new_col
0   1   2   NaN      100
1  10  20  30.0      200

In [125]:
# delete a column
del(df['a'])
df

    b     c  new_col
0   2   NaN      100
1  20  30.0      200

In [126]:
df

    b     c  new_col
0   2   NaN      100
1  20  30.0      200

In [127]:
df.pop('new_col')
df

    b     c
0   2   NaN
1  20  30.0

## accessing a row from a DataFrame
- **df.loc[index_name]** location name
- **df.iloc[position_from_the_top]** . starting from 0, iloc means index location from the top

In [147]:
d = {'age':[30, 42, 53, 64],
    'experience':[10, 20, 30, 35]}
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
df

   age  experience
a   30          10
b   42          20
c   53          30
d   64          35

In [148]:
# using loc[index_name]
df.loc['c']  # series

age           53
experience    30
Name: c, dtype: int64

In [149]:
df.loc['c']

age           53
experience    30
Name: c, dtype: int64

In [150]:
# using iloc
df.iloc[2]  # same as df.loc['c']

age           53
experience    30
Name: c, dtype: int64

In [152]:
#  when user defined index is number
# in pandas row indexes can be duplicated
d = {'age':[30, 42, 53, 64],
    'experience':[10, 20, 30, 35]}
df = pd.DataFrame(d, index=[0, 0, 1, 2])
df

   age  experience
0   30          10
0   42          20
1   53          30
2   64          35

In [156]:
df.loc[0]

   age  experience
0   30          10
0   42          20

### addition and deletion of rows in a DF

In [159]:
data = {'one':pd.Series([1,2,3], index=['a', 'b', 'c']),
       'two':pd.Series([10,20,30,40], index=['a', 'b', 'c', 'd']),
       'three':pd.Series([10,20,30], index=['a', 'b', 'c'])}
df1 = pd.DataFrame(data)
print(df1)
print("#"*10)
df2 = pd.DataFrame([[11,12], [13,14]], columns=['two', 'three'])
print(df2)
print("#"*10)
new_df = df1.append(df2, sort=False)
print(new_df)

   one  two  three
a  1.0   10   10.0
b  2.0   20   20.0
c  3.0   30   30.0
d  NaN   40    NaN
##########
   two  three
0   11     12
1   13     14
##########
   one  two  three
a  1.0   10   10.0
b  2.0   20   20.0
c  3.0   30   30.0
d  NaN   40    NaN
0  NaN   11   12.0
1  NaN   13   14.0

In [161]:
# deleting a row

data = {'one':pd.Series([1,2,3], index=['a', 'b', 'c']),
       'two':pd.Series([10,20,30,40], index=['a', 'b', 'c', 'd']),
       'three':pd.Series([10,20,30], index=['a', 'b', 'c'])}
df1 = pd.DataFrame(data)
print(df1)
print("#########")
df1 = df1.drop('a')
print(df1)

   one  two  three
a  1.0   10   10.0
b  2.0   20   20.0
c  3.0   30   30.0
d  NaN   40    NaN
#########
   one  two  three
b  2.0   20   20.0
c  3.0   30   30.0
d  NaN   40    NaN

## Loading a csv file into a DataFrame

In [162]:
df = pd.read_csv('AllCountries.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [163]:
df

,Country,LandArea,Population,GDP,Rural,Internet,BirthRate,DeathRate,ElderlyPop,LifeExpectancy,FemaleLabor,Unemployment
0,Afghanistan,652.860,30.552,665.0,74.1,5.9,34.1,7.8,2.3,60.9,16.2,NaN
1,Albania,27.400,2.897,4460.0,44.6,60.1,12.9,6.9,10.7,77.5,51.7,13.4
2,Algeria,2381.740,39.208,5361.0,30.5,16.5,24.3,5.9,4.6,71.0,16.2,11.0
3,American Samoa,0.200,0.055,NaN,12.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.470,0.079,NaN,13.8,94.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,1246.700,21.472,5783.0,57.5,19.1,44.1,13.9,2.4,51.9,64.5,NaN
6,Antigua and Barbuda,0.440,0.090,13342.0,75.4,63.4,16.5,6.1,7.1,75.8,NaN,NaN
7,Argentina,2736.690,41.446,14715.0,8.5,59.9,16.8,7.7,10.9,76.2,55.1,7.2
8,Armenia,28.470,2.977,3505.0,37.0,46.3,13.7,8.7,10.3,74.5,58.4,NaN
9,Aruba,0.180,0.103,NaN,57.9,78.9,10.3,8.4,11.3,75.3,NaN,NaN
10,Australia,7682.300,23.129,67463.0,10.8,83.0,13.2,6.3,14.3,82.2,70.5,5.2
11,Austria,82.409,8.480,50511.0,34.1,80.6,9.4,9.4,18.4,80.9,70.6,4.3
12,Azerbaijan,82.658,9.417,7812.0,45.9,58.7,18.3,5.8,5.6,70.7,68.1,5.2
13,"Bahamas, The",10.010,0.377,22312.0,17.3,72.0,15.3,6.1,7.7,75.1,76.4,14.0
14,Bahrain,0.760,1.332,24689.0,11.3,90.0,15.2,2.3,2.2,76.7,40.7,1.2
15,Bangladesh,130.170,156.595,958.0,67.2,6.5,20.0,5.7,4.8,70.7,60.4,NaN
16,Barbados,0.430,0.285,NaN,68.3,75.0,12.7,9.1,10.9,75.3,76.6,11.6
17,Belarus,202.910,9.466,7575.0,24.1,54.2,12.5,13.2,13.8,72.5,62.2,NaN
18,Belgium,30.280,11.183,46930.0,2.2,82.2,11.2,9.8,18.0,80.4,62.1,7.5
19,Belize,22.810,0.332,4894.0,55.7,31.7,23.4,4.5,4.0,73.9,51.9,14.4
20,Benin,112.760,10.323,805.0,56.9,4.9,36.4,9.5,2.9,59.3,68.9,NaN
21,Bermuda,0.050,0.065,NaN,0.0,95.3,10.4,6.8,NaN,80.6,NaN,8.4
22,Bhutan,38.117,0.754,2363.0,62.9,29.9,19.6,6.5,4.8,68.3,69.1,2.1
23,Bolivia,1083.300,10.671,2868.0,32.3,39.5,25.7,7.1,4.9,67.2,66.2,NaN
24,Bosnia and Herzegovina,51.000,3.829,4662.0,60.5,67.9,9.0,10.1,15.6,76.3,42.0,28.1
25,Botswana,566.730,2.021,7315.0,43.1,15.0,23.6,16.9,3.6,47.4,75.0,NaN
26,Brazil,8358.140,200.362,11208.0,14.8,51.6,14.9,6.5,7.5,73.9,65.0,NaN
27,Brunei Darussalam,5.270,0.418,38563.0,23.4,64.5,15.5,3.1,4.3,78.6,55.7,NaN
28,Bulgaria,108.560,7.265,7499.0,26.7,53.1,9.2,14.4,19.3,74.5,63.7,12.3
29,Burkina Faso,273.600,16.935,761.0,71.8,4.4,40.9,11.1,2.4,56.3,79.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
185,Sweden,407.340,9.600,60381.0,14.5,94.8,11.8,9.4,19.3,81.7,78.6,8.0
186,Switzerland,39.516,8.088,84748.0,26.2,86.7,10.2,8.0,17.7,82.7,78.0,4.2
187,Syrian Arab Republic,183.630,22.846,NaN,43.1,26.2,24.0,3.9,4.1,74.7,14.3,NaN
188,Tajikistan,139.960,8.208,1037.0,73.4,16.0,33.0,6.6,3.2,67.4,61.7,NaN
189,Tanzania,885.800,49.253,913.0,69.8,4.4,39.2,8.5,3.2,61.5,89.9,NaN
190,Thailand,510.890,67.011,5779.0,52.1,28.9,10.2,7.7,9.7,74.4,70.9,0.7
191,Timor-Leste,14.870,1.180,NaN,68.5,1.1,35.8,5.7,3.3,67.5,25.2,NaN
192,Togo,54.390,6.817,636.0,61.0,4.5,36.4,10.7,2.8,56.5,82.2,NaN
193,Tonga,0.720,0.105,4427.0,76.4,35.0,25.5,6.0,5.9,72.6,56.4,NaN
194,Trinidad and Tobago,5.130,1.341,18373.0,91.3,63.8,14.5,9.6,9.0,69.9,59.7,5.0
195,Tunisia,155.360,10.887,4317.0,33.5,43.8,19.8,6.3,7.2,73.6,27.3,17.6
196,Turkey,769.630,74.933,10972.0,27.6,46.3,16.8,5.7,7.4,75.2,32.2,9.2
197,Turkmenistan,469.930,5.240,7987.0,50.7,9.6,21.3,7.8,4.1,65.5,49.7,NaN
198,Turks and Caicos Islands,0.950,0.033,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Tuvalu,0.030,0.010,3880.0,42.2,37.0,NaN,NaN,NaN,NaN,NaN,NaN
200,Uganda,199.810,37.579,657.0,84.6,16.2,43.2,9.2,2.4,59.2,76.6,NaN
201,Ukraine,579.320,45.490,3900.0,30.7,41.8,11.1,14.6,15.1,71.2,62.6,7.5
202,United Arab Emirates,83.600,9.346,43049.0,15.0,88.0,14.5,1.0,0.4,77.1,46.8,NaN
203,United Kingdom,241.930,64.107,41781.0,17.9,89.8,12.2,9.0,17.5,81.0,70.3,7.9
204,United States,9147.420,316.129,53042.0,18.7,84.2,12.5,8.2,14.0,78.8,66.1,8.1
205,Uruguay,175.020,3.407,16351.0,5.0,58.1,14.5,9.3,14.1,77.1,67.4,6.5
206,Uzbekistan,425.400,30.243,1878.0,63.8,38.2,22.5,4.8,4.3,68.2,51.0,NaN
207,Vanuatu,12.190,0.253,3277.0,74.5,11.3,26.6,4.8,3.9,71.7,62.3,NaN
208,"Venezuela, RB",882.050,30.405,14415.0,11.1,54.9,19.8,5.3,6.2,74.6,54.8,8.1
209,Vietnam,310.070,89.709,1911.0,67.7,43.9,15.5,5.7,6.6,75.8,78.9,1.8
210,Virgin Islands (U.S.),0.350,0.105,NaN,4.9,45.3,10.7,8.0,16.0,79.6,64.0,NaN
211,West Bank and Gaza,6.020,4.170,NaN,25.2,46.6,30.4,3.5,3.0,73.2,16.1,23.0
212,"Yemen, Rep.",527.970,24.407,1473.0,66.6,20.0,31.1,7.2,2.9,63.1,26.4,NaN
213,Zambia,743.390,14.539,1845.0,60.0,15.4,42.8,10.2,2.6,58.1,73.3,7.8
214,Zimbabwe,386.850,14.150,953.0,67.3,18.5,31.3,9.0,3.9,59.8,84.8,11.1

In [166]:
#exporting a dataframe from a file
df.to_csv('output_batch29th.csv', index=False)

In [165]:
help(df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.') method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a file object is passed it should be opened with
        `newline=''`, disabling universal newlines.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'ascii' on Python 2 and 'utf-8' on Python 3.
    compression : str, default 'infer'
        Compression mode among the following possible values: {'infer',
        'gzip', 'bz2', 'zip', 'xz', None}. If 'infer' and `path_or_buf`
        is path-like, then detect compression from the following
        extensions: '.gz', '.bz2', '.zip' or '.xz'. (otherwise no
        compression).

        .. versionchanged:: 0.24.0

           'infer' option added and set to default.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : string, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    tupleize_cols : bool, default False
        Write MultiIndex columns as a list of tuples (if True) or in
        the new, expanded format, where each MultiIndex column is a row
        in the CSV (if False).

        .. deprecated:: 0.21.0
           This argument will be removed and will always write each row
           of the multi-index as a separate row in the CSV file.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Load an Excel file into a DataFrame.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

In [168]:
# reading an excel file
#pd.read_excel()

# exporting to an excel file
#df.to_excel(file.xls)

In [170]:
df.head()

,Country,LandArea,Population,GDP,Rural,Internet,BirthRate,DeathRate,ElderlyPop,LifeExpectancy,FemaleLabor,Unemployment
0,Afghanistan,652.86,30.552,665.0,74.1,5.9,34.1,7.8,2.3,60.9,16.2,NaN
1,Albania,27.40,2.897,4460.0,44.6,60.1,12.9,6.9,10.7,77.5,51.7,13.4
2,Algeria,2381.74,39.208,5361.0,30.5,16.5,24.3,5.9,4.6,71.0,16.2,11.0
3,American Samoa,0.20,0.055,NaN,12.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,0.47,0.079,NaN,13.8,94.0,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
data = {'Email':['hello@gmail.com', 'bye@yahoo.com'],'Name':['RAvi', 'Shyam']}
df = pd.DataFrame(data)
df

             Email   Name
0  hello@gmail.com   RAvi
1    bye@yahoo.com  Shyam

In [185]:
import re
def func(param):
    if isinstance(param, list):
        for elem in param:
            outout = re.search()
    return 
        
        
df['Domain_Name'] = df['Email'].apply(func)
df

             Email   Name Domain_Name
0  hello@gmail.com   RAvi   gmail.com
1    bye@yahoo.com  Shyam   yahoo.com