# decorators


- used when you wish to perform any action before a function call and after a function call also without even modifying the function.
- @classmethod and @staticmethod are built-in decorator

In [24]:
def check_params(func_obj):
    def inner(i, j):
        if isinstance(i,int) and isinstance(j, int) and i !=0 and j !=0:
            func_obj(i,j)  # actual call to divide function happens here.
        else:
            print("Wrong paramter type")
    return inner

In [19]:
@check_params
def divide(a,b):
    print(a/b)
divide(2,3)
# Step 1:check_params(divide)
# step 2: inner(a,b)

0.6666666666666666

In [20]:
divide(1,[1,2,3])

Wrong paramter type

In [21]:
divide("hello",[1,2,3])

Wrong paramter type

In [22]:
divide(1,0)

Wrong paramter type

In [23]:
divide(2,5)

0.4

In [25]:
@check_params
def sum(a,b):
    print(a+b)

In [26]:
sum(1,2)

3

In [27]:
sum(1,"hello")

Wrong paramter type

# Database connection
- for every DB , python has a package/module that must be installed, using that package only you can access the DB, sqlite3 is the package already present in the python
- establish connection
-

In [31]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')
if conn:
    print(conn)
    print("Connection has been established Successfully")
else:
    print("Connection failed")
    
# creating a TABLE
conn.execute("""CREATE TABLE education
            (Id INT PRIMARY_KEY NOT NULL, 
            Name TEXT NOT NULL,
            Age INT NOT NULL,
            Course CHAR(30)
            )""")
print("Table created Successfully")

# inserting the values
conn.execute("INSERT INTO education(Id, Name, Age, Course)\
VALUES(1, 'Ravi', 25, 'Django')")
conn.execute("INSERT INTO education(Id, Name, Age, Course)\
VALUES(2, 'Shyam', 26, 'Spark')")
conn.execute("INSERT INTO education(Id, Name, Age, Course)\
VALUES(3, 'Ram', 27, 'Python')")

conn.commit()  #saving the records
# executemany() to pass list to values

conn.close()

<sqlite3.Connection object at 0x10b6dae30>
Connection has been established Successfully
Table created Successfully

In [33]:
# fetch the values
conn = sqlite3.connect('mydatabase.db')

cursor = conn.execute('select * from education')
for row in cursor:
    print(row)

conn.close()

(1, 'Ravi', 25, 'Django')
(2, 'Shyam', 26, 'Spark')
(3, 'Ram', 27, 'Python')

In [36]:
# fetch the values
# fetchone() shows first fetched records that is stored in the cursor object
conn = sqlite3.connect('mydatabase.db')

cursor = conn.execute('select * from education')
print(cursor.fetchone())
conn.close()

(1, 'Ravi', 25, 'Django')

In [38]:
# fetchall() shows first fetched records that is stored in the cursor object
conn = sqlite3.connect('mydatabase.db')

cursor = conn.execute('select * from education')
print(cursor.fetchall()) # all fetched records in the list
conn.close()

[(1, 'Ravi', 25, 'Django'), (2, 'Shyam', 26, 'Spark'), (3, 'Ram', 27, 'Python')]

In [40]:
# fetchmany(no_of_records) shows first fetched records that is stored in the cursor object
conn = sqlite3.connect('mydatabase.db')

cursor = conn.execute('select * from education')
print(cursor.fetchmany(2)) # all fetched records in the list
conn.close()

[(1, 'Ravi', 25, 'Django'), (2, 'Shyam', 26, 'Spark')]