# Module 1

## Ananconda
- link : https://www.anaconda.com/distribution/
- it contains Python
- Jupyter notebook
so if you install Anaconda (64-Bit Graphical Installer (637 MB)) it will install Python and jupyter notebook both for you)
- jupyter notebook is a python editor

## Pycharm
- download the community version
- A python editor
- it does not install Python
- python should be there in the system to use Pycharm.

# Python Identifiers

Class names start with an uppercase letter. All other identifiers start with a lowercase letter.

Starting an identifier with a single leading underscore indicates that the identifier is private.

Starting an identifier with two leading underscores indicates a strongly private identifier.

If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.

In [107]:
help('while')

The "while" statement
*********************

The "while" statement is used for repeated execution as long as an
expression is true:

   while_stmt ::= "while" expression ":" suite
                  ["else" ":" suite]

This repeatedly tests the expression and, if it is true, executes the
first suite; if the expression is false (which may be the first time
it is tested) the suite of the "else" clause, if present, is executed
and the loop terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clauseâ€™s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and goes back
to testing the expression.

Related help topics: break, continue, if, TRUTHVALUE

# Immutable and Mutable types in Python

#### Mutable types in Python are:

Lists

Dictionaries

Sets

#### Immutable types in Python are:

Number

Strings

Tuples

## Comments

In [108]:
# this is single line comment

In [109]:
def func():
    '''
    aaa
    aaa
    vv
    '''

## Numbers

In [2]:
a = int(input("Enter a number"))
print(a)


type(a)

Enter a number23
23

str

In [3]:
b = 12.34
type(b)

float

In [112]:
c = 1 +2j
type(c)

complex

## Strings

In [7]:
a = 'welcome in the course'
type(a)

str

In [116]:
b = "hello world"
type(b)

str

In [117]:
a

'welcome in the course'

In [118]:
b

'hello world'

## Tuples
- immutable data type
- can contain any type and any number of values

In [119]:
a = (1, "hello", 12.34, 90)
type(a)

tuple

In [120]:
a

(1, 'hello', 12.34, 90)

## Lists
- ordered collection of elements
- indexing concept is there

In [3]:
a = [1, 2, "hello", 12.34]
a

[1, 2, 'hello', 12.34]

In [122]:
type(a)

list

In [7]:
# access values using an index
# indexing : list[position]
a[0]

1

In [124]:
a[1]

2

## Dictionary
- key:value pair
- no sequence
- keys have to be unique, it can't be duplicated
- keys have to be immutable(non-modifiable)
- list can't be dict key as it is mutable

In [20]:
d = {1:100, "hello":200, 12:300, (1,2):"bye","bye":404}
d

{1: 100, 'hello': 200, 12: 300, (1, 2): 'bye', 'bye': 404}

In [24]:
d.pop("hello")
print(d)

{1: 100}

In [126]:
type(d)

dict

In [14]:
# access a value
d[1]  # 1 is a key of the dict

100

In [128]:
d["hello"]

200

In [16]:
d[(1,2)]

'bye'

## Sets
- unordered i.e no-indexing concept
- collection of unique values(no value is duplicated)

In [130]:
s = {1, 2, 3, 1, 2, 3}
s

{1, 2, 3}

In [1]:
s[1]  # indexing is not allowed in set

NameError: name 's' is not defined

In [2]:
#Ques: Set / Dictionary values, will allows any null value?
#Ans: yes
my_set = {None, 1,2}

In [3]:
my_set

{1, 2, None}

In [5]:
my_dict = {1:None, 2:None}
my_dict

{1: None, 2: None}

## Arithematic Operators

In [22]:
# division
17/5

3.4

In [23]:
17//5  # floor division

3

In [24]:
# modulo "%"
17%5

2

In [25]:
# raising a power to a number
2**3  # 2 the power 3 i.e 2^3

8

In [ ]:
# confused between modulus and floor division

## Assignment operator

In [ ]:
a = 10
b = a  # it means we are assigning value present in a to b
b

# Python doesn't require type declaration

In [6]:
# in C
int a;  # must not be done in Python
a = 10

SyntaxError: invalid syntax (<ipython-input-6-1fc0e2cf7d32>, line 2)

In [ ]:
# in python you directly assign the value to a variable
a = 10

# Python is a Dynamically Typed Language
- means a variable can take any type of value at any point of time in the code.

In [26]:
# In C language(not Python) you can't do this
int a;
a = 10;
a = "hello"  # not allowed
?????

SyntaxError: invalid syntax (<ipython-input-26-ca828f30fe9b>, line 2)

In [27]:
# in Python you can
a = 10
a = "hello"
print(a)
print(type(a))

hello
<class 'str'>

In [28]:
# Does python allow to declare the variable 
# to int float etc, if yes can we still keep assign
# different types of values ?
a = [1,2,3]
type(a)

list

## Comparison operators

In [29]:
a = 10
b = 20

In [30]:
# == compares the values
a == b

False

In [31]:
a != b

True

In [32]:
if a == b:
    print("Hello")
else:
    print("bye")

bye

# Logical Operators

In [ ]:
# and : all the conditions have to to True
age = 21
if age >= 13 and age <= 19:
    print("teen")
else:
    print("Hello")

# "and" functioning
# True and True: True
# True and False: False
# False and True: False
# False and False: False

In [ ]:
# or : if any value is True then output is True
age = 21
if age >= 13 or age <= 19:
    print("teen")
else:
    print("Hello")

# "or" functioning
# True and True: True
# True and False: True
# False and True: True
# False and False: False

In [ ]:
# Can we talk about a !=b again ?
a = 10
b = 20
a == b

In [ ]:
a != b

## Bitwise operators

In [ ]:
#1. Binary & i.e multilpication of corresponding bits
a = 20
b = 10
a & b

In [ ]:
bin(a)

In [ ]:
bin(b)

In [ ]:
a = a & b
a

In [ ]:
# 2. Binary | or i.e addition
a = 20
b = 10
a | b

In [ ]:
bin(30)

In [ ]:
# 3. xor
20 ^ 10

In [ ]:
# 4. left shift
a << 2

In [ ]:
bin(80)

In [ ]:
# 5. right shift
a >> 2

## Identity operators
- "is" checks if both the variable are pointing to same memory block
- id(any_object) returns memory location of an object

In [7]:
a = 10
b = 10

In [8]:
id(a)

140706906677936

In [9]:
id(b)

140706906677936

In [34]:
a is b  # as both point to same memory block

True

In [36]:
# both a and b would be created separately in different memory blocks
i = [1,2,3]
j = [1,2,3]

In [135]:
id(i)

4612757320

In [136]:
id(j)

4612789128

In [138]:
i is j

False

In [37]:
i[2] == j[2]

True

In [140]:
# when a number is large(greater than 256) then new memory block is created
a = 198238773838745785785
b = 198238773838745785785
a is b

False

In [141]:
a = 257
b = 257
a is b

False

In [146]:
a = 256
b = 256
a is b

True

# assignment creates a reference
- applicable on all the objects

In [147]:
a = [1,2,3]
b = a  # this creates a refernce instead of a new memory block
a is b

True

In [148]:
id(a)

4612359176

In [149]:
id(b)

4612359176

In [150]:
a = 7823873478785785785785
b = a
id(a)

4613108320

In [151]:
id(b)

4613108320

In [152]:
a is b

True

# Conditional Statements
- if
- if-else
- you cannot have 'else' alone
- if-elif
- if-elif-else

In [10]:
age = 21
if age >0 and age <=2:
    print("infant")
elif age > 2 and a <= 12:
    print("child")
elif age > 12 and age <=19:
    print("teen")
else:
    print("Adult")

child

# while loop

In [155]:
'''
while <condition>:
    statements
'''

In [158]:
n = 5
while n >= 0:
    print("python is awesome")
    print(n)
    n -= 1  # n = n - 1

print("I am outside the loop")

python is awesome
5
python is awesome
4
python is awesome
3
python is awesome
2
python is awesome
1
python is awesome
0
I am outside the loop

# Number guessing game

In [167]:

correct_ans = 13
while True:
    entered_num = input("Input Number:")
    entered_num = int(entered_num) # typecasting
    if entered_num == correct_ans:
        print("Exit: Congratulations, you made it!")
        break  # terminates the loop
    elif entered_num > correct_ans:
        print("entered number is large")
    else:
        print("entered number is small")
    
print("Game over!!")
# instead break , can we use exit (0) ? is it valid in python?

Input Number:20
entered number is large
Input Number:15
entered number is large
Input Number:12
entered number is small
Input Number:13
Exit: Congratulations, you made it!
Game over!!

In [163]:
type(entered_num)

int

In [164]:
type(200)

int

In [165]:
type("200")

str

## for loop
- used to iterate over a sequence
- sequences are list, string, tuple.
- syantx:
    for i in sequence:
        body_of_the_loop
- no need to provide exit condition, when there are no more elements in the sequence then for loop would automatically be terminated

In [169]:
my_list = [10, 20, 30, 40]
for i in my_list:
    print("hello")
    
    print(i)

hello
10
hello
20
hello
30
hello
40

In [171]:
my_tuple = (10, 20, 30, 40)
for i in my_tuple:
    print("hello")
    print(i)

hello
10
hello
20
hello
30
hello
40

In [172]:
my_str = "education rocks"
for elem in my_str:
    print(elem)

e
d
u
r
e
k
a

r
o
c
k
s

In [174]:
# range() gives numbers
for elem in range(5):
    print(elem)

0
1
2
3
4

## nested for loop
- loop inside a loop

In [180]:
n = 5
for i in ['Math', 'Science', 'Computer Science']:
    for j in [10, 20, 30]:
        print(i,j)

Math 10
Math 20
Math 30
Science 10
Science 20
Science 30
Computer Science 10
Computer Science 20
Computer Science 30

In [176]:
"2"*10

'2222222222'

In [177]:
2*10

20

In [178]:
range(5)

range(0, 5)

# Loop control statement
- break
- continue
- pass
- above three keywors can only be used in a loop.

In [184]:
#1. break : termiates the loop
for i in range(1,10):
    print(i)
    if(i==5):
        break
print("I am outside the loop")

1
2
3
4
5
I am outside the loop

In [182]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [189]:
# 2. continue: skips the remaining code in currrent iteration
for j in [1,2,3,4,5]:
    if j==3:
        continue
    print(j)

1
2
4
5

In [191]:
# 3. pass : blank statement i.e it does nothing
for k in [1,2,3]:
    pass
print("Loop ends here")

Loop ends here

In [193]:
# usage of pass
project_cost = 200000
if project_cost < 50000:
    print("drop two resources")
elif project_cost > 50000 and project_cost < 100000:
    print("drop 4 resources")
elif project_cost > 100000:
    pass
elif project_cost > 500000:
    print("scrap the project")

In [195]:
age = 20
if age > 10:
    pass
    print("hello")

hello