# Module 4: Working with Modules and Exception handling

In [3]:
# Different import statements
#1 .Full import: it imports complete module

import math
print(math.sqrt(4))
print(math.e)

2.0
2.718281828459045

In [5]:
# 2: specific import
from math import sqrt
print(sqrt(4))
print(e) # you are import only sqrt from there, you can't anything else

2.0

NameError: name 'e' is not defined

In [8]:
#3. full import using 'from'
from math import *
print(sqrt(4))
print(e)

2.0
2.718281828459045

In [9]:
#4.giving Alias name
# import pandas
#pandas.DataFrame()
import pandas as pd # pd is an alias 
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

## sys

In [11]:
import sys

age = eval(input("enter your age:"))
if not isinstance(age, int):
    print("Entered age is not an Integer")
    sys.exit()

print("Hello")

enter your age:[1,2,3]
Entered age is not an Integer

SystemExit:

/Users/gyanendrakumar/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3275: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [33]:
# returns list of paths where import statement would search the module
sys.path

['/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly',
 '/Users/gyanendrakumar/anaconda3/lib/python37.zip',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/site-packages',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/gyanendrakumar/.ipython']

## os

In [12]:
import os
os.getcwd()

'/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly'

In [13]:
#os.chdir()

In [14]:
os.mkdir('anand')

In [15]:
os.rmdir('/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly/anand')

In [16]:
os.name

'posix'

In [19]:
#os.environ

In [20]:
os.getlogin()

'gyanendrakumar'

In [22]:
os.getppid()

42058

## os.path

In [23]:
path1 = 'hello/bye/hi'
path2 = 'aa/bb/cc'
path3 = 'ww/rr/tt'
os.path.join(path1, path2, path3)

'hello/bye/hi/aa/bb/cc/ww/rr/tt'

In [24]:
# absolute path means full path or path from the root
# relative path: means path relative to a folder.

os.path.abspath('vinay')

'/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly/vinay'

In [26]:
os.path.normpath('/users/ravi\PyCharm')

'/users/ravi\\PyCharm'

In [27]:
# split (dirname, file_name)
os.path.split("/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly/Batch_12thJan_mod_4.ipynb")

('/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly',
 'Batch_12thJan_mod_4.ipynb')

In [28]:
#check if path is valid/exists or not
os.path.exists("/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly/Batch_12thJan_mod_4.ipynb")

True

In [29]:
os.path.exists('/hjgdh/hjwdwguf/hjgwdfbh')

False

In [30]:
# lists all the content in that directory
# syntax: o.listdir(<dir_name>)
os.listdir('/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly')

['Batch_12thJan_mod_4.ipynb', '.ipynb_checkpoints']

In [31]:
# os.walk to find nested directory files also

In [32]:
# q: if i want to iport a module in a different 
# folder or from a differnt location in the network or from github ?

import sys

['/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly',
 '/Users/gyanendrakumar/anaconda3/lib/python37.zip',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/site-packages',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/gyanendrakumar/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/gyanendrakumar/.ipython']

In [34]:
# check if the path is a directory
os.path.isdir('/Users/gyanendrakumar/PycharmProjects/education_DS/Module_4_PythonOnly')

True

## math

In [35]:
import math
math.ceil(10.01)

11

In [36]:
math.ceil(10.99)

11

In [37]:
math.copysign(23, -1)

-23.0

In [38]:
math.fabs(-23.67)

23.67

In [40]:
math.e # 2.71

2.718281828459045

In [41]:
math.pi

3.141592653589793

In [42]:
math.exp(2)  # e**2

7.38905609893065

In [43]:
math.expm1(2)

6.38905609893065

In [44]:
math.log(10, 10)

1.0

In [45]:
math.cos(3)

-0.9899924966004454

In [46]:
math.acos(0.4)

1.1592794807274085

In [47]:
math.degrees(0.1)

5.729577951308233

In [48]:
math.radians(3.2)

0.05585053606381855

In [49]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [50]:
math.pow(2,3)

8.0

## random

In [51]:
import random

8

In [55]:
random.randrange(10) # one random number as o/p

7

In [60]:
# one random number between 10 and 20 as o/p , excluding 20(stop value)
random.randrange(10,20)

12

In [67]:
# one random number between 10 and 15 as o/p , including 15(stop value)
random.randint(10,15)

15

In [68]:
print(random.randint.__doc__)

Return random integer in range [a, b], including both end points.

In [69]:
# uniform value between 2 and 5
random.uniform(2,5)

2.3200960005686064

In [70]:
random.uniform(2,5)

2.1981045059230735

In [71]:
# same thing i.e range would remain between 2 and 5
random.uniform(5,2)

3.105557553694717

## datetime

In [72]:
import datetime
current_date = datetime.datetime.today()
print(current_date)

2019-01-27 09:00:27.227885

In [74]:
# create date on your own
mydate = datetime.datetime(2017, 10, 21)
print(mydate)  # this is an object of datetime class.

2017-10-21 00:00:00

In [77]:
# substract the dates
date_diff = current_date -  mydate
date_diff

datetime.timedelta(days=463, seconds=32427, microseconds=227885)

In [78]:
print(date_diff)

463 days, 9:00:27.227885

In [79]:
date_diff.days

463

In [80]:
date_diff.seconds

32427

In [81]:
datetime.MAXYEAR

9999

In [82]:
datetime.MINYEAR

1

In [88]:
# giving an alias
from datetime import datetime as dtime
print(dtime.today())

2019-01-27 09:08:46.503052

In [89]:
# https://docs.python.org/2/library/datetime.html
# section :8.1.7. strftime() and strptime()
import datetime
mydate = datetime.datetime.today()

print(mydate) # this is datetime object
print(mydate.strftime("%Y/%B/%A"))  # this is a string
print(mydate.strftime("%Y %B %A"))  # this is a string

# REST

# strptime() used to convert date from a string to datetime.datetime object

2019-01-27 09:11:43.340859
2019/January/Sunday
2019 January Sunday

## json

In [90]:
import json
data = {'name':'ravi', 'age':23}
print(type(data))
json_str = json.dumps(data)
print(json_str)
print(type(json_str))

<class 'dict'>
{"name": "ravi", "age": 23}
<class 'str'>

In [91]:
original_obj = json.loads(json_str)
print(type(original_obj))
print(original_obj)

<class 'dict'>
{'name': 'ravi', 'age': 23}

# Regular Expression

In [92]:
import re
#re.sub(reg_Ex, replacement_str, input_str)
re.sub('abc', '*', 'abc abcdef defabc')

'* *def def*'

In [93]:
'abc abcdef defabc'.replace('abc', '*')

'* *def def*'

In [95]:
#replace letter 'a' and 'd' with '*'
re.sub('[ad]', '*', "abcdef abcdef abcdef")

'*bc*ef *bc*ef *bc*ef'

In [96]:
re.sub('[ad]', 'kiran', "abcdef abcdef abcdef")

'kiranbckiranef kiranbckiranef kiranbckiranef'

In [97]:
# 'r' stands to raw string
# if I wish to print two letter \n or \t
print('\n')

In [98]:
print('\t')

In [99]:
# give 'r'
print(r'\n')

\n

In [100]:
# method 2: give 2 slashes
print('\\n')

\n

In [105]:
re.sub(r'[abc][123]', '*', "a1 + b2 + d4 + e5 + 3")

'* + * + d4 + e5 + 3'

In [110]:
# [a-d]: [abcd]
#[1-4]: [1,2,3,4]
#[a-z]: a to z
# [A-Z]: A to Z
# [0-9]: 0 to 9
re.sub(r'[a-d][1-4]', '*', "a1 + b2 + d4 + e5")

'* + * + * + e5'

In [113]:
# . dot matches any single character except new line
re.sub(r'A.B', '*','A2B AxB AxxxxB A$B')

'* * AxxxxB *'

In [116]:
# + : makes the search greedy i.e 1 or more
# + is a meta character with special meaning
re.sub(r'AB+', '*','A2B ABBBBBC AC')
# AB or ABB or ABBB or ABBBBBB

'A2B *C AC'

In [117]:
re.sub(r'AB+', '*','A2B AABBBBBC AC')

'A2B A*C AC'

In [118]:
re.sub(r'A+B', '*','A2B AABBBBBC AC')
# continuous A then followed by single B letter

'A2B *BBBBC AC'

In [121]:
# it means replace  letter 'A' and "B" and '+' with '*'
re.sub(r'[A+B]','*','AAAABBC ABC ABBBB + +')

'******C **C ***** * *'

In [123]:
# \d: is a metacharacter and it used to match a single digit
re.sub(r'\d', '*', 'hello 1 and  2 is 3 adn 456 and 897')

'hello * and  * is * adn *** and ***'

In [141]:
# ^ is used to match the starting of a string
re.sub(r'^abc', '*', 'abcdef abc abc')

'*def abc abc'

In [143]:
# ^ is used to match the starting of a string
re.sub(r'^abc', '*', 'def abc abc')
# output is unchanged

'def abc abc'

In [144]:
# $ matches the end of the string
re.sub(r'abc$', '*', 'abcdef abc abc')

'abcdef abc *'

## re.search
 - syntax re.search(pattern, input_str)
 - it returns a match object if pattern is found in the input_str
 - None is returned if no match is found
 - it returns only the first match

In [124]:
mydata = "my number is 76367843 and 27843674"
match_obj = re.search(r'\d', mydata)
if match_obj:
    print(match_obj.group())
else:
    print("No match found")

7

In [125]:
# use + with \d to get the continuous number
mydata = "my number is 76367843 and 27843674"
match_obj = re.search(r'\d+', mydata)
if match_obj:
    print(match_obj.group())
else:
    print("No match found")

76367843

## re.findall(pattern, input_str)
- returns list of all the matches

In [126]:
# use + with \d to get the continuous number
mydata = "my number is 76367843 and 27843674"
all_matches = re.findall(r'\d+', mydata)
print(all_matches)

['76367843', '27843674']

In [127]:
mydata = "my number is 76367843 and 27843674"
all_matches = re.findall(r'\d', mydata)
print(all_matches)

['7', '6', '3', '6', '7', '8', '4', '3', '2', '7', '8', '4', '3', '6', '7', '4']

In [128]:
# \D: is match any non-digit
# \d: to match a digit

In [131]:
#{m,n} or {m}
mydata = "my number and 456789 is 7636784333 and 123456 and 1234567"
all_matches = re.findall(r'\d{10}', mydata)
print(all_matches) # returns only 10 digit number

['7636784333']

In [133]:
#{m,n} or {m}
mydata = "my number and 456789 is 7636784333 and 123456 and 1234567"
all_matches = re.findall(r'\d{7,10}', mydata)
print(all_matches) # returns only 7 digit numbers.

['7636784333', '1234567']

## re.match
 - syntax re.match(pattern, input_str)
 - it returns a match object if pattern is found in the input_str
 - None is returned if no match is found
 - it searches only at the beginning of the string

In [135]:
# match()
match_obj = re.match(r'\d+', "my number is 12345 and 789")
if match_obj:
    print(match_obj.group())
else:
    print("No match found")

No match found

In [136]:
# search()
match_obj = re.search(r'\d+', "my number is 12345 and 789")
if match_obj:
    print(match_obj.group())
else:
    print("No match found")

12345

In [146]:
# RegEX cheat sheet:
# https://www.debuggex.com/cheatsheet/regex/python
# metacharacters:
# \d
#\D
# \w : to match alphnumeric
# \W

In [148]:
# import re
# with open('emails.txt', 'r') as fo:
#     pattern = '[a-zA-Z]+[_0-9]+@gmail.com'
#     correct_emails = re.findall(pattern, fo.read())
#     print(correct_emails)

"""
# put below content in a file name 'email.txt'
gyan123@gmail.com
education@gmal.com
12ravi@gmail.com
education_12@gmail.com
angad@yahoo.com
"""

"\n# put below content in a file name 'email.txt'\ngyan123@gmail.com\neducation@gmal.com\n12ravi@gmail.com\neducation_12@gmail.com\nangad@yahoo.com\n"

# Exception Handling

In [149]:
a = 50
a/0
print("hello")

ZeroDivisionError: division by zero

In [ ]:
# try-except
#1
a = 12
b = 13
try:
    c = a/0
    print("111")
except ZeroDivisionError:
    print("you have entered the wrong value for division")
    #a, b, c = sys.exc_info()

print("2222")