# Module 2: Sequences and File operations

### taking using input from keyboard
- input("message")
- entered value would be converted to string.
- Method 1: use typecasting
- Method 2: eval() function to get the original value back
- don't use eval() when the expected value is a string already

In [8]:
age = int(input("enter your age :"))
# Method 1: typecasting the value to an integer
print(type(age))
if age >= 18:
    print("You can Vote")
else:
    print("You can't vote")

enter your age :21
<class 'int'>
You can Vote

In [6]:
int("123") # converts integer in a string to an integer object.

123

#### Method 2: using evaluate function i.e eval()
- eval() evaluates the expression within a string, or you can say it removes the quotes.

In [12]:
a = "123"
print(type(a))
b = eval(a)
print(type(b))

<class 'str'>
<class 'int'>

In [15]:
a = "[1,2,3]"
print(type(a))
b = eval(a)
print(type(b))
print(b)

<class 'str'>
<class 'list'>
[1, 2, 3]

## File handling

In [18]:
# Refer .py files shared by the Trainer

## List
- ordered collection of objects

In [19]:
# create
a = [1, 2, "hello", 12.34]
print(type(a))

<class 'list'>

In [20]:
a

[1, 2, 'hello', 12.34]

In [21]:
# Indexing : it starts from 0
a = [1, 2, "hello", 12.34, 100, 200]
# access first value : list[index]
a[0]

1

In [22]:
a[1]  # second value

2

In [23]:
# access the values from the end of the list
a[-1]  # last value can be accessed via negative index

200

In [24]:
a[-2]

100

In [25]:
a[4]

100

### slicing: extracting some elements of a sequence
- like reading specific values in array by providing indexes
- this concept is exactly the same for lists, tuples and strings
- syntax: list[start_index : stop_index : step]
- value present at stop index would be excluded
- default value of step is 1
- step means difference between consecutive indexes.

In [26]:
a = [11, 22, 33, 44, 55, 66, 77]
a[1:5]  # equivalent o a[1:5:1]

[22, 33, 44, 55]

In [29]:
a[1:6:2]   # a[1], a[3], a[5]

[22, 44, 66]

In [31]:
# if stop index is missing then it would consider values till the end
a = [11, 22, 33, 44, 55, 66, 77]
a[1:]

[22, 33, 44, 55, 66, 77]

In [32]:
a[:4]  # means consider from the beginning and till the index 3

[11, 22, 33, 44]

In [33]:
a[:]  # consider the whole list

[11, 22, 33, 44, 55, 66, 77]

In [36]:
# start and step without a stop
a = [11, 22, 33, 44, 55, 66, 77]
a[1::2]  # a[1], a[3], a[5]

[22, 44, 66]

In [38]:
# updating a list: list[index] = new_val
a = [11, 22, 33]
a[1] = "education"
a

[11, 'education', 33]

In [40]:
# delete an element from a list : del(list[index])
a = [11,22,33]
del(a[1])
a

[11, 33]

In [3]:
# removing an element from a list
# list.remove(element), it removes only the first occurence of that element
# remove won't return the deleted/removed value

a = [1, 2,5, 3, 1, 1]
a.remove(3)
a

[1, 2, 5, 1, 1]

In [47]:
# pop()  pops out last element
# pop(index) popts out the element at the given index
# pop returns the deleted/removed value

a = [11, 22, 33, 44]
print(a.pop())
print(a)

44
[11, 22, 33]

In [50]:
a = [11, 22, 33, 44]
print(a.pop(2))
print(a)

33
[11, 22, 44]

In [44]:
# drop duplicates from a list
a = [1, 1, 2, 3, 3, 2, 3, 4, 4]
list(set(a))

[1, 2, 3, 4]

## List comprehension
- creating a new list from an existing list
- synatx:
[function for i in my_list "filter"]
- filter is optional

In [52]:
a = [1,2,3,4,5,6,7,8]
# create a list having squared elements
b = [i**2 for i in a]
b

[1, 4, 9, 16, 25, 36, 49, 64]

In [53]:
# create a list having squared elements but element is greater than 4
b = [i**2 for i in a if i > 4]
b

[25, 36, 49, 64]

In [54]:
# equivalent code
b = []
for i in a:
    if i > 4:
        b.append(i**2)
print(b)

[25, 36, 49, 64]

In [55]:
# adding the value at end
# append(value)
a = [1,2,3]
a.append(100)
a

[1, 2, 3, 100]

In [59]:
a = [1, 2, 3]
b = [4, 5, 6]
print("original length:",len(a))
a.append(b)
print(a)
print("length after append:",len(a))

original length: 3
[1, 2, 3, [4, 5, 6]]
length after append: 4

In [61]:
# mylist.extend(another_list)
a = [1,2,3]
b = [4,5,6]
print("original length:",len(a))
a.extend(b)
print(a)
print("length after append:",len(a))

original length: 3
[1, 2, 3, 4, 5, 6]
length after append: 6

In [63]:
# adding value at a particular index
# list.insert(index, value)
a = [11, 22, 33, 44]
a.insert(2, "education rocks")
a

[11, 22, 'education rocks', 33, 44]

In [65]:
# sorting a list
# Condition: all the values in a list must be of same type
# Method 1: sorted(list) returns a new list in ascending order
a = [1,2,-1, -19, 300, -8974]
print(sorted(a))
print(a)

[-8974, -19, -1, 1, 2, 300]
[1, 2, -1, -19, 300, -8974]

In [70]:
# descending order
sorted(a, reverse=True)

[300, 2, 1, -1, -19, -8974]

In [76]:
# Method 2: sorting a list
# syntax: list.sort() , this modifies the list directly
a = [1,2,-1, -19, 300, -8974]
a.sort()
a

[-8974, -19, -1, 1, 2, 300]

In [78]:
a.sort(reverse=True)
a

[300, 2, 1, -1, -19, -8974]

In [82]:
# concantenation : adding two lists
# this is same as list.extend(another_list)
a = [1,2]
b = [3, 4]
c = a + b
c

[1, 2, 3, 4]

In [80]:
# repetition 
a = [1,2]
c = a*3
c

[1, 2, 1, 2, 1, 2]

In [81]:
# membership checking: checking if an element is a part..
# ..of a sequence(list, tuple or string)
# synatx: element in sequence 
# ex: 1 in [1,2,3]
1 in [1,2,3]

True

In [83]:
11 in [1,2,3]

False

In [84]:
# tuple inside a list
a = [1,2,3, (11, 22, 33)]
a[-1]

(11, 22, 33)

In [85]:
a[-1][1]

22

In [86]:
a[-1][0]

11

In [88]:
# can't modify a tuple
a[-1][0] = "not possible"

TypeError: 'tuple' object does not support item assignment

# how to find all the methods and attributes present on an Object ?

In [89]:
dir([1,2])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Tuple
- ordered collection of objects

In [90]:
a = (1, 2, "hello", 12.34)
a

(1, 2, 'hello', 12.34)

In [91]:
type(a)

tuple

In [92]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [94]:
a = (1,2,3,4,5,1,2,1,2,2,2,2,2)
a.count(2)  # returns count of an element

7

In [95]:
# list 
a = [1,2,3,4,5,1,2,1,2,2,2,2,2]
a.count(2)

7

In [100]:
# index(value): returns first occurence index of the given value
# list
a = [11,22,33,44,11]
a.index(11)

0

In [101]:
# tuple
a = (11,22,33,44,22)
a.index(22)

1

In [102]:
# max : returns maximum value
# works with list and tuple both
max((1,2,3,410000))

410000

In [104]:
# min : returns minimum value
# works with list and tuple both
min((1,2,3, -1))

-1

In [106]:
len((1,2,3,4,5000))

5

In [107]:
# slicing concept in tuple is same as list
a = (11, 22, 33, 44, 55, 66)
a[1:5]

(22, 33, 44, 55)

In [109]:
a[1:7:2]  # a[1], a[3], a[5]

(22, 44, 66)

In [110]:
a[::-1]  # reverses the list or tuple or string

(66, 55, 44, 33, 22, 11)

In [112]:
# concatenation
a = (1,2)
b = (3,4)
c = a + b
c # new tuple

(1, 2, 3, 4)

In [113]:
# repetition
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [115]:
# membership testing
a = (1, 2, 3)
1 in a

True

In [116]:
# tuple can't be modified(but list within a tuple can be modified)
a = (1,2,3)
a[0]

1

In [117]:
a[0] = "trying to modify tuple, not possible"

TypeError: 'tuple' object does not support item assignment

### exception: Although tuples can't be modified but list within a tuple can be modified

In [118]:
a = (1,2,3, [4, 5, 6])
a[0] = "hello"

TypeError: 'tuple' object does not support item assignment

In [119]:
a[-1][0] = "bingo" # but nested list can be modified.

In [120]:
a

(1, 2, 3, ['bingo', 5, 6])

### converting list to tuple or vice-versa

In [121]:
my_tuple = (1,2,3)
a = list(my_tuple)
print(type(a))
print(a)

<class 'list'>
[1, 2, 3]

In [122]:
# list to tuple using tuple() function
my_list = [11, 22, 33]
my_tuple = tuple(my_list)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(11, 22, 33)

# Strings

In [1]:
a = "education rocks"
a

'education rocks'

In [2]:
type(a)

str

In [4]:
a = "father's name "

In [5]:
len(a)

14

In [6]:
# string slicing is same as list/tuple slicing
a = "education rocks"
a[1:6] # a[1]..a[5]

'durek'

In [7]:
a[1:]

'dureka rocks'

In [8]:
a[:3]  # a[0], a[1], a[2]

'Edu'

In [9]:
a[1:10:2]  # a[1], a[3], a[5], a[7], a[9]

'drk o'

In [10]:
# in slicing stop index can be outside the range
a[1:1000000]

'dureka rocks'

In [12]:
# membership testing(Same as tuple and list): checking if a string or sub-string is a part of..
#....a main string or not

a = "education rocks"

'e' in a

True

In [13]:

'edu' in a

True

In [14]:
'eduz' in a

False

In [16]:
# how to read a string which already have " in itself
# you need to provide triple quotes to create the string
a = '''hello"bye'''

In [17]:
a

'hello"bye'

### String formatting
- making a string dynamic

In [18]:
data = "my name is Python and I am 30yrs old"

In [20]:
# making above string dynamic
name = input("Enter your name:")
age = int(input("enter your age:"))
print("Your name is %s and age %s"%(name, age))

Enter your name:Ravi
enter your age:23
Your name is Ravi and age 23

In [21]:
name = input("Enter your name:")
age = int(input("enter your age:"))
print("Your name is %s and age %s"%(name, age))

Enter your name:Shyam
enter your age:25
Your name is Shyam and age 25

In [22]:
# NOTE: %s string formatter is compatible to print any object.

In [26]:
name = input("Enter your name:")
age = (1,2,3)
print("Your name is %s and age %s"%(name, age))

Enter your name:Java
Your name is Java and age (1, 2, 3)

In [25]:
name = input("Enter your name:")
age = [1,2,3]
print("Your name is %s and age %s"%(name, age))

Enter your name:.net
Your name is .net and age [1, 2, 3]

In [27]:
# we noticed that %s would allow any data type to printed againt it.

In [28]:
# we can put type check by using other formatters
# %d : used for integers

age = [1,2,3]
print("Your age is : %d"%(name, age))

TypeError: %d format: a number is required, not str

### find all the built-in methods available on string object

In [29]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Strings, tuples and numbers are immutable, it can't be modified

### Some examples on built-in methods

In [31]:
a = "education"
a = a.capitalize()
print(a)

education

In [35]:
a = "education"
a = a.upper()
print(a)

education

In [37]:
# encode
a = "education"
b = a.encode('utf-8')
print(b)
print(type(b))

b'education'
<class 'bytes'>

In [38]:
# decode
c = b.decode('utf-8')
print(c)
print(type(c))

education
<class 'str'>

In [39]:
# max()
a = "education"
max(a)

'u'

In [40]:
min(a)

'a'

In [43]:
# Syntax: my_str.replace(old, new [, no_of_times])
a = "education e and e"
print(a.replace('e', 'X'))  # replaces all the occurences
print(a)# this remains intact

EdurXka X and X
education e and e

In [46]:
a = "education e and e"
a.replace('e','X', 2) # replace the first two-occurences only

'EdurXka X and e'

In [47]:
# str.index() returns the index of the first occurence of passed value
a = "education"
a.index('e')

0

In [48]:
a.index('X')  # if character of sub-string is missing then returns error

ValueError: substring not found

In [49]:
#  returns the index of the passed value if the value is present otherwise
# .. it returns -1
# str.find()

"education".find('Z')

-1

In [50]:
"education".find('e')

0

In [52]:
# concatenation: adding two strings

a ="india vs"
a = a + "NZ"
print(a)

india vsNZ

In [53]:
# repetition
print("#"*100)

####################################################################################################

In [54]:
"education"*10

'educationeducationeducationeducationeducationeducationeducationeducationeducationeducation'

In [56]:
# string.split(delimiter)
# returns list of the strings
a = "hail education rocks"
a.split('e')

['hail ', 'dur', 'ka rocks']

In [57]:
csv_values = "Python,30,education"
csv_values.split(',')

['Python', '30', 'education']

In [59]:
val = "while/brown/new"
val.split('/')

['while', 'brown', 'new']

In [60]:
# opposite of split is join() method
# Synatx: "character_to_join".join(list_of_strings)
data = ['while', 'brown', 'new']
'/'.join(data)

'while/brown/new'

In [62]:
data = ['while', 'brown', 'new']
'$'.join(data)

'while$brown$new'

# Sets
- no indexing concept
- no first element and also no last element as sets are unordered
- creating sets: Method 1: set(sequence)
- Method 2: {values}

In [65]:
# create
a = set("educationeducation")
a

{'a', 'd', 'e', 'k', 'r', 'u'}

In [66]:
a = set([1,2,3,4,1,2,3])
a

{1, 2, 3, 4}

In [67]:
type(a)

set

In [68]:
a = set((1,2,3,1,2,3))
a

{1, 2, 3}

In [69]:
# method 2 {}
a = {1,1,2,2,3,3}
a

{1, 2, 3}

### Union
- combining multiple sets together
- Method 1: using pipe | operator
- Method 2: using .union() method

In [70]:
a = {1,2,3,4}
b = {1,2,5}

In [71]:
# M1
# union
a | b

{1, 2, 3, 4, 5}

In [76]:
# M2
a = {1,2,3,4}
b = {1,2,5}
c = a.union(b)
c

{1, 2, 3, 4, 5}

### intersection
- common values between two sets
- Method 1: using & ampersand operator
- Method 2: using .intersection() method

In [73]:
# M1
a = {1,2,3,4}
b = {1,2,5}
a & b

{1, 2}

In [74]:
# M2
a = {1,2,3,4}
b = {1,2,5}
a.intersection(b)

{1, 2}

### Difference

In [77]:
a = {1,2,3,4}
b = {1,2,5}
a - b # returns elements present in A but not in B

{3, 4}

In [78]:
b - a # returns elements present only in b but not in a.

{5}

In [79]:
# M2:
# a - b
a.difference(b)

{3, 4}

In [80]:
# b - a
b.difference(a)

{5}

In [81]:
# is there some method to get {3,4,5}
(a|b) - (a&b)

{3, 4, 5}

In [82]:
# Q: find common elements of a list
a = [1,2,3,4]
b = [1,2,3]
list(set(a) & set(b))

[1, 2, 3]

In [84]:
# drop duplicates from a list
a = [1,2,3,4,5,1,4,5,5,6,6,1,4,5]
list(set(a))

[1, 2, 3, 4, 5, 6]

In [85]:
# check subset
a = {1,2,3,4,5}
b = {1,2,3} 

#  all elements of b are present in a therefore b is a subset of a
b.issubset(a)

True

In [86]:
a.issubset(b)
#  not all elements of b are present in a therefore b is not a subset of a

False

In [88]:
# a contains all elements of b plus some more elements therefore a..
# ..is a superset of b
a.issuperset(b)

True

### Operations performed on Sets
- sets are mutable

In [91]:
a = {1,2,3, 'x', 'y'}

# adding element to a set
a.add('z')
print(a)

{'x', 1, 2, 3, 'y', 'z'}

In [93]:
# remove an element from a set
a = {1,2,3, 'x', 'y'}
a.remove(1)
print(a)

{'x', 2, 3, 'y'}

In [94]:
a = {1,2,3, 'x', 'y'}
a.remove('w') # if element is absent the error pops up

KeyError: 'w'

In [96]:
# discard() doesn't throw error if element is absent
a = {1,2,3, 'x', 'y'}
a.discard(1)
a

{2, 3, 'x', 'y'}

In [97]:
a.discard('z')  # no error

In [100]:
dir({1,2})

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [103]:
a = {1,2,3,4}
help(a.pop)
a.pop()

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

1

In [106]:
# sorting a string: it sorts based on ASCII values
a = "education"
sorted(a)   # ascending by default

['a', 'd', 'e', 'e', 'k', 'r', 'u']

In [107]:
ord('a')  # ascii value of a character

97

# Dictionaries
- unordered , therefore no indexing concept, no last or first value
- keys have to be immutable . So tuples, strings, numbers can be dictionary key but lists cannot be used as a dict key.
- keys have to unique
- value can be of any object
- dict is a combination of key:value pairs within curly brackets.
- Dictionaries are very fast in comparison to List, tuple or strings
- Big O notation: for dict O(1): it takes fixed amount of time to access any element of a dictionary
- List, tuple : O(n)

In [112]:
# create
d = {1:100, "hello":200, (1,2,3):[11,22,33]}
d

{1: 100, 'hello': 200, (1, 2, 3): [11, 22, 33]}

In [113]:
# access a value Method 1: dict[key]
#d[1]

100

In [114]:
d[(1,2,3)]

[11, 22, 33]

In [120]:
d['wrong_key']  # this would result in a error

KeyError: 'wrong_key'

In [121]:
# access a value Method 2: dict.get('key', 'default_value')
d.get('wrong_key', 100)

100

In [124]:
d = {1:100, "hello":200, (1,2,3):[11,22,33]}
d.get(1, 300)

100

In [116]:
# update/create a value
d = {1:100, "hello":200, (1,2,3):[11,22,33]}

# update: if key is alredy present then the value would be updated
d["hello"] = "education"
d

{1: 100, 'hello': 'education', (1, 2, 3): [11, 22, 33]}

In [117]:
# # create key-value: if key is not present then the...
# ..key-value pair would be created
d['bye'] = "education rocks"
d

{1: 100, 'hello': 'education', (1, 2, 3): [11, 22, 33], 'bye': 'education rocks'}

In [118]:
# delete a key-value pair
d = {1:100, "hello":200, (1,2,3):[11,22,33]}
del(d[1])
d

{'hello': 200, (1, 2, 3): [11, 22, 33]}

In [119]:
# can None be a dictionary key:
# ans: yes
d = {None:500, "hello":200, (1,2,3):[11,22,33]}
d[None]

500

In [126]:
# fetch only the keys
d = {1:100, 2:200, 3:300}
d.keys()

dict_keys([1, 2, 3])

In [127]:
list(d.keys()) # only keys

[1, 2, 3]

In [128]:
# fetch only the values
d = {1:100, 2:200, 3:300}
d.values()

dict_values([100, 200, 300])

In [129]:
list(d.values())

[100, 200, 300]

In [130]:
# fetch key-value pair in a tuple
d = {1:100, 2:200, 3:300}
d.items()

dict_items([(1, 100), (2, 200), (3, 300)])

In [131]:
list(d.items())

[(1, 100), (2, 200), (3, 300)]

In [135]:
# Iterate over a dictionary
# by default you get only the keys when you iterate over it
d = {1:100, 2:200, 3:300}

for elem in d:
    print(elem)
# same result
for elem in d.keys():
    print(elem)

1
2
3
1
2
3

In [134]:
# To get only values when you iterate over it use .values()
d = {1:100, 2:200, 3:300}

for elem in d.values():
    print(elem)

100
200
300

In [137]:
# To get both kye-value pair when you iterate over it use 
# .items()
d = {1:100, 2:200, 3:300}
for elem in d.items():
    print(elem)

(1, 100)
(2, 200)
(3, 300)